@page "/"
@using Data.Services
@inject MarkdownService MarkdownService

<PageTitle>Home</PageTitle>

<div>@MarkdownHtml</div>


@code {
  private string MarkdownContent = string.Empty;
  private MarkupString MarkdownHtml;

  protected override void OnInitialized() {
    base.OnInitialized();

    MarkdownContent = MarkdownService.GetMarkdownContent("example.md");

    MarkdownHtml = (MarkupString)MarkdownService.RenderMarkdown(MarkdownContent);
  }
}